*{
    margin: 0;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    vertical-align: baseline;
        -webkit-transition-duration: 0s;
                transition-duration:0s ;
          
}
body, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   }
p,a,li,label,input,textarea,div,span
{

    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;

}
