@charset "utf-8";
@import "base.css";



body
{
    overflow:visible;
    margin: 0;
    
}

header
{
    text-decoration: none;
    min-width: 100%;
    overflow: visible;

}

header div
{
    display: flex;
    justify-content: center;
     overflow: visible;

}
header div .title
{
    display: flex;
    justify-content: space-around;
     overflow: visible;
     padding-right: 15%;

}


.title h1 {
    display: flex;
    font-size: 20px;
    color:  rgb(223, 223, 223);
    line-height: 56px;
    letter-spacing: .4px;
    font-weight: 400;
    font-family: 'Merriweather', serif;


}
.hero-banner {
    background:url(../Assets/roberto-nickson-Yp9FdEqaCdk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner{
    height: 94.2vh;
    text-align: center;
    display: flex;
    align-items: center;
    color: #FFF;
    justify-content: center;
    flex-direction: column;
}

.banner h2 {
    font-size: 46px;
    color: #FFF;
    
}
.banner h3{
    font-size: 24px;
    font-weight: 300;
    color: rgb(255, 255, 255);

}
.banner hr{
    width: 75%;
    margin-top:70px;
    margin: 0 auto;
    border-top: 3px solid #FFF;
    border-radius: 20px;
}
nav
{
    color: white;
    text-align: right;
    height: 56px;
    text-decoration: none;
    padding-left: 15%;
}
nav ul {
    list-style:none;
    font-size: 0;
    justify-content: space-around;
}
nav ul li {
    display:inline;
    line-height: 56px;
    cursor:default;
    justify-content: space-around;
    
}
nav ul li a {
    font-size: 18px;
    color: rgb(185, 185, 185);
    line-height: 56px;
    letter-spacing: .4px;
    cursor: pointer;
    text-decoration: none;
    padding: 19px;
    padding-bottom: 16px;


}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    font-weight: 400;



}nav ul li a:active{
    color: #FFF;

}
nav ul li + li{
    margin-left:5px;
}
section
{
    display: flex;
    justify-content: center;
    background:url(../Assets/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;


}
#about{
    display: flex;
    margin-top: 25%;
    width: 80%;
    text-align:left;
    justify-content: left;
    margin-left: 10%;
    margin-right: 10%;

}
.text{
    color: #ffffff;
}

#Big{
    color: #ffffff;
    font-size: 56px;
}

.scroll-down{
    position: absolute;
    height: 50px;
    width: 30px;
    border: 2px solid #FFF;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.scroll-down::before, 
.scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid #FFF;
    height: 10px;
    width: 10px;
    transform: translate(-50%,  -50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}
@keyframes scroll-down{
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;

    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        top: 90%;
    }
}